ion-content {
  --background: white;

  .barCloseModal {
    position: absolute;
    z-index: 500;
    width: 100%;
    height: auto;
    color: black;
    background: #ffffff4d;
    box-shadow: 1px 4px 12px #d8d4d4;
    padding-top: 12px;
    padding-bottom: 12px;

    ion-buttons {
      #start {
        color: black !important;
        font-size: 24px;
        margin-left: 15px;
      }

      #end {
        font-size: 24px;
        margin-right: 15px;
        visibility: hidden;
      }
    }
  }

  .upperBox {
    // border: 3px solid black;
    width: 100%;
    height: 100%;
  }
}
