ion-header {
  border: none;
  outline: none;

  .header {
    border-bottom: none;
    outline: none;
    // --background: #227093;
    --background: #218c74;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    margin: 0;
  }
}

ion-content {
  --background: #fff;

  .upperbox {
    background: #f5f1f16b;
    //  height: 1000px;
    margin-bottom: 25px;
    padding: 10px;

    .container-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        color: #000;
        font-weight: bold;
        margin-bottom: 20px;
      }

      p {
        color: black;
        font-size: small;
      }
    }


  }

  .lower-box {
    .wrapper {
      max-width: 100%;
      border: none;
      display: flex;
      // justify-content: space-between;
      overflow-x: auto;
      border: none;

      .item {
        min-width: 200px;
        //  height: 150px;
        margin-right: 30px;
        // line-height: 110px;
        position: relative;

        img {
          border-radius: 5px;
          width: 100%;
          height: 140px;
          margin-bottom: 3px;
          object-fit: cover;
          background-position: center;
          position: relative;
        }

        #end {
          color: #877c7c;
          font-size: 20px;
          font-weight: 700;
          //  margin-right: 15px;
          position: absolute;
          top: 10px;
          right: 10px;
          z-index: 1;
        }

        .name {
          font-weight: bold;
          font-size: 18px;
          color: #000;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .pays{
          width: 100%;
          font-size: 14px;
          font-weight: 650;
          color: rgba(0, 0, 0, 0.842);
        }

        .ville {
          width: 100%;
          font-size: 13px;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.603);
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .publie {
          font-size: 12px;
          font-weight: bold;
          color: #000;
          padding-bottom: 10px;
        }
      }
    }
  }

}
