ion-content {
  --background: #fff;

  .upperbox1 {
    margin-top: 15px;
    width: 100%;
    height: 50px;
    // box-shadow: 1px 1px 2px rgb(238, 234, 234);
    // padding-top: 8px;
    // padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .close {
      cursor: pointer;
      color: rgb(51, 86, 202);
      color: black;
      font-size: 15px;
    }

    .contacter {
      color: black;
      font-weight: bold;
      font-size: 20px;
    }

    .send_btn {

      button {
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        // width: 100%;
        color: #218c74;
        background: none;
        border: none;
        // border-radius: 50px;
        // padding: 5px;
        font-size: 15px;
        font-weight: bold;
      }
    }
  }

  .upperbox2 {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    // border: 1px solid rgb(243, 239, 239);

  }
}

ion-list {
  background: white;
  margin-top: 10px;
  .item {
    --inner-border-width: 0px 0px 0px 0px;
    // --background-activated: black;
    // --background-hover-opacity: 0.9;
    // --background-hover: rgb(189, 186, 186);
    // --border: 1px solid rgb(216, 211, 211);
    --border-width: 0px !important;
    border-radius: 10px !important;
    box-shadow: 0px 0px 1px #d7d7d7 !important;
    --background: rgb(219, 219, 219) !important;
    color: black !important;
    font-weight: 500 !important;
    margin-top: 10px !important;
  }

}
