ion-header {
  .header {
    border-bottom: none;
    outline: none;
    --background: #fff;
    // --background: #218c74;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;

    ion-title {
      color: black !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .button{
        font-size: 20px;
        font-weight: 600;
        margin-right: 10px;
        margin-top: 30px;
      }
      .titre{
        font-weight: 500;
      }
    }
  }
}

ion-content {
  --background: rgb(243 242 242);
  ol{
    padding: 10px;
    li{
      // list-style: none;
      h4{
        font-size: 18px;
        font-weight: bold;
        color: black;
      }
      p{
        font-size: 13px;
        text-align: justify;
        color: rgb(87, 85, 85);
      }
    }
  }
}
