<ion-header>
  <ion-toolbar class="header">
    <ion-title>
      <span class="button" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </span>
      <span class="titre">Manuel d'utilisation</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ol>
    <li>
      <h4><ion-icon name="list"></ion-icon>&nbsp; Authentification sur l'application</h4>
      <p>Il vous suffit d'entrer vos infos de connexion ou d'en créer en remplissant bien les champs indiqués</p>
    </li><br>
    <li>
      <h4><ion-icon name="list"></ion-icon>&nbsp; Accueil</h4>
      <p>Sur la page d'accueil vous verez les catastrophes enregistrées dans l'application. Cependant vous verez
        trois(03) blocs : ce sont les différentes catégories de catastrophes. Suite à cela vous pouvez regarder les
        différents détails a propos</p>
    </li><br>
    <li>
      <h4><ion-icon name="list"></ion-icon>&nbsp; Page de recherche</h4>
      <p>Dans cette page vous pouvez rechercher une catastrophe comme son nom l'indique , et aussi vous aurez la possibilité en cliquant sur le sous-onglet carte de voir les différents endroits sur la carte ou les catastrophes ont été signalées</p>
    </li><br>
    <li>
      <h4><ion-icon name="list"></ion-icon>&nbsp; Page d'ajout</h4>
      <p>Cette page est représentée par le gros icone (+) au centre de la barre fixée tout en bas de votre téléphone; Dans cette page vous pourez ajouter une catastrophe que vous avez constatez lors de vos déplacements......Dans du renseignement des informations dans le formulaire que vous verez, nous récupérons les positions cartographiques de la dite catastrophe pour apres la reférencer sur une carte géolocalisée</p>
    </li><br>
    <li>
      <h4><ion-icon name="list"></ion-icon>&nbsp; Page Statistiques</h4>
      <p>Dans cette page on a ressorti les statistiques des catastrophes en fonction des morts et des blessés pour vous éviter de partir a chaque fois sur chaque catastrophes pour voir le nombre de morts et le nombre de blessés...... Personnellement c'est très pénible</p>
    </li><br>
    <li>
      <h4><ion-icon name="list"></ion-icon>&nbsp; Page Profil</h4>
      <p>C'est votre espace a vous ou vous verez vos différents posts, vous pouvez cliquer sur le crayon pour changer les données du formulaire que vous verrez afin de modifier vos informations !!
        Il y'a aussi une cloche de notifications et une icone des paramètre en haut en droite de la page
      </p>
    </li>
  </ol>
</ion-content>
