ion-header {

  .header {
    --background: rgb(250, 250, 250);
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
  }
}

ion-content {
  --background: #fff;
  overflow-y: auto;

  ion-item {
    border-radius: 10px;
    --background-activated: black;
    --background-hover-opacity: 0.9;
    --background-hover: rgb(189, 186, 186);
    --border-style: none;
    box-shadow: 0px 0px 7px #d7d7d7;
    --background: white;
    color: black;
    font-weight: 500;
    margin-top: 15px;
  }
}
