ion-header {
  .header {
    border-bottom: none;
    outline: none;
    --background: #fff;
    // --background: #218c74;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
  }
}

ion-content {
  --background: rgb(243 242 242);

  .upperbox {
    margin-top: 30px;
    margin-bottom: 30px;
    background: white;
    // box-shadow: 0px 0px 7px #d7d7d7;

    ion-item {
      --background-activated: black;
      --background-hover-opacity: 0.9;
      --background-hover: rgb(189, 186, 186);
      box-shadow: 0px 0px 2px #d7d7d7;
      font-size: 15px;
      --border-style: none;
      --background: #fff;
      color: black;
      margin-bottom: 5px;

      ion-label {
        cursor: pointer;
        display: flex;
        align-items: center;

        ion-icon {
          margin-right: 10px;
        }
      }
    }
  }
}

ion-footer {
  ion-toolbar {
    --background: rgb(243 242 242);

    ion-title {
      color: #9b9b9b;
      font-size: small;
    }
  }
}
