ion-header {

  .header {
    border-bottom: none;
    outline: none;
    --background: #fff;
    // --background: #218c74;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;


  }
}

ion-content {
  --background: #fff;

  form {
    ion-tab-bar {
      --background: rgb(255, 248, 248);
    }
  }

}

ion-title {
  color: black;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}


ion-item {
  --inner-border-width: 0px 0px 0px 0px;
  // --background-activated: black;
  // --background-hover-opacity: 0.9;
  // --background-hover: rgb(189, 186, 186);
  // --border: 1px solid rgb(216, 211, 211);
  --border-width: 0px !important;
  border-radius: 10px !important;
  box-shadow: 0px 0px 7px #d7d7d7 !important;
  --background: white !important;
  color: black !important;
  font-weight: 500 !important;
  margin-top: 15px !important;
}

#btn {
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: 1px -4px 1px #e3e0e0;
  position: fixed;
  z-index: 500;
  bottom: 0;
  background: white;
  margin-top: 20px;
}

.imageUser {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 5px solid black;
  background: transparent;
  // position: relative;
  // box-sizing: border-box;
  // overflow: hidden;
  margin: 20px auto 15px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: none;
  }
}


.photo {
  margin: 15px auto;
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    background: #218c74;
    text-align: center;
    padding: 12px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
