ion-header {
  border: none;
  outline: none;

  .header {
    border-bottom: none;
    outline: none;
    // --background: #227093;
    --background: #218c74;
    // padding-top: 15px;
    // padding-bottom: 15px;
    text-align: center;
    margin: 0;
  }
}

ion-content {
  --background: #fff;

  form {

    margin-bottom: 15px;
  }
}

ion-list {
  background: #fff;

  .container {
    border: 1px solid #218c7556;
    width: 95%;
    margin: auto;
    height: 250px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  ion-item {
    --inner-border-width: 0px 0px 0px 0px;
    // --background-activated: black;
    // --background-hover-opacity: 0.9;
    // --background-hover: rgb(189, 186, 186);
    // --border: 1px solid rgb(216, 211, 211);
    --border-width: 0px !important;
    border-radius: 10px !important;
    box-shadow: 0px 0px 7px #d7d7d7 !important;
    --background: white !important;
    color: black !important;
    font-weight: 500 !important;
    margin-top: 15px !important;
  }


}
