ion-content {
  --background: #f1f1f1;

  ion-searchbar {
    margin-top: 20px;
    margin-bottom: 10px;
    /* border-radius: 10px; */
    --background: #ffffff;
    color: black;
    --border-radius: 15px;
  }

  ion-segment {
    background: #f8f8f8;
    color: black;

    ion-segment-button {
      color: black;
      --indicator-color: #218c74;
      --color-checked: #218c74;
      font-weight: bold;
    }
  }

  .content {
    margin-top: 150px;

    .catastrophes {
      ion-card {
        --background: white;
        color: black;
        margin-bottom: 20px;

        ion-card-header {
          img {
            object-fit: fill;
            width: 100%;
            height: 250px;
          }

          ion-card-title {
            color: black;
            font-weight: bold;
            font-size: 22px;
          }
        }

        ion-card-content {
          h4 {
            font-weight: 550;

            span {
              color: #218c74;
            }

          }

          p {
            margin-top: 5px;
            font-size: 14px;
            text-align: justify;
            color: #000000c7;
          }
        }
      }
    }

    ion-item {
      border-radius: 10px;
      --background-activated: black;
      --background-hover-opacity: 0.9;
      --background-hover: rgb(189, 186, 186);
      --border-style: none;
      box-shadow: 0px 0px 7px #d7d7d7;
      --background: white;
      color: black;
      font-weight: 500;
      margin-top: 15px;
    }
  }

}

.maps {
  width: 100%;
  height: 80vh;
  border: none;
  // background: #2a917b23;
  position: relative;
}

.sticked {
  width: 100%;
  /* background: #f8f8f8; */
  position: fixed;
  z-index: 50000;
  /* opacity: .9; */
  /* backdrop-filter: blur(1px); */
  backdrop-filter: blur(5px);
  /* background: #f8f8f8;*/
}
