<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="https://ionicframework.com/docs/demos/api/slides/slide-1.png" />
        <h2>Bienvenue</h2>
        <p>
          The <b>Disaster management</b> en francais (gestion de catastrophes) est une application permettant de tenir informé les utilisateurs en temps réels sur les catastrophes survenus et aussi ressortir des statistiques en fonction des morts et des blessés .
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="	https://ionicframework.com/docs/demos/api/slides/slide-2.png" />
      <h2>Qu'est ce que c'est ?</h2>
      <p>
        <b>Ionic Framework</b> C'est le fameux framework utilisé pour mettre sur pied cette application. Elle peut être mobile ou web, mais vu notre contexte nous nous sommes penchés sur du mobile pour les utilisateurs et du web pour l'administration .
      </p>
    </ion-slide>

    <ion-slide>
      <img src="	https://ionicframework.com/docs/demos/api/slides/slide-3.png" />
      <h2>Flow de l'application</h2>
      <p>
        <b>Flow d'App</b> c'est comment l'aplication fonctionne en elle même. Pour aider les utilisateurs à mieux se repérer nous avons une carte pour représenter tous les endroits catastrophés, aussi un page de représentation des statistiques de toutes les catastrophes
      </p>
    </ion-slide>

    <ion-slide>
      <img src="	https://svgsilh.com/svg/1971128-3880ff.svg" />
      <h2>Plateformes</h2>
      <p>
        <b>Disatster Manager</b>; cette application peut tourner sur plusieurs plateformes notament celles que nous connaissons comme Android et Ios .
      </p>
    </ion-slide>

    <ion-slide>
      <img src="	https://ionicframework.com/docs/demos/api/slides/slide-4.png" />
      <h2>Prêt pour la suite ?</h2>
      <ion-button fill="clear" (click)="retourAccueil()">Continuez <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
