ion-tabs {
  ion-tab-bar {
    opacity: .9;
    --background: rgb(255, 248, 248);
  }

  // padding-bottom: 5px;
  // width: 100%;
  // display: flex;
  // justify-content: space-between;
  ion-tab-button {
    --color-selected: #218c74;
    --color-focused: #218c74;
  }

  ion-icon {
    // --background: #218c74;
    // outline: 3px solid white;
    // padding: auto;
    font-size: 25px;
    // background: #227093;
    // border-radius: 10%;
    // color: white;
    font-weight: bold;
  }

  .ajouter {
    color: #218c74;
    // border: 3px solid red;
    // border-radius: 10%;
    font-size: 60px;
    font-weight: bold;
  }
}
